/* Estilos generales (aplicados a todos los tamaños de pantalla) */
.sectionUs {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
}

.info {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  font-size: 1.2rem;
  line-height: 1.8em;
  margin-bottom: 30px;
  text-align: justify;
  max-width: 80%;
}

.corre {
  margin: 0;
  text-align: center;
}

.imagenGimnasio {
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
}

/* Media query para dispositivos móviles */
@media (max-width: 576px) {
  .sectionUs {
    padding: 10px;  /* Reducir el padding */
  }

  .info {
    font-size: 1rem;  /* Reducir el tamaño de fuente */
    line-height: 1.6em;  /* Reducir el espacio entre líneas */
    width: 100%;  /* Hacer que ocupe el 100% del ancho disponible */
  }

  .corre {
    max-width: 10%;  /* Asegurarse de que la imagen ocupe todo el ancho disponible */
  }

  .imagenGimnasio {
    max-width: 10%;  /* Asegurarse de que la imagen ocupe todo el ancho disponible */
  }
}

/* Media query para dispositivos de laptop (mayores a 1024px) */
@media (min-width: 1024px) {
  .sectionUs {
    padding: 40px;  /* Aumentar el padding */
  }

  .info {
    font-size: 1.5rem;  /* Aumentar el tamaño de fuente */
    line-height: 2em;  /* Aumentar el espacio entre líneas */
    width: 70%;  /* Ajustar el ancho de la información */
  }

  .imagenGimnasio {
    max-width: 600px;  /* Aumentar el tamaño máximo de la imagen */
  }
}
