.sectionUs {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
}

.info {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}

.corre {
  margin: 0;
  text-align: center;
}

.imagenGimnasio {
  border: 5px solid black;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
}