
.card-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 10px;
    margin: 10px;
}


.card {
    width: 100%; 
    max-width: 300px;
    height: 205px;
    perspective: 1000px;
}


.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
}


.card:hover .card-inner {
    transform: rotateY(180deg);
}


.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 5px solid #FFFF00;
    border-radius: 10px;
}

.card-front {
    background-color: #212529;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(0deg);
}

.card-back {
    background-color: #212529;
    color: #fff;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    transform: rotateY(180deg);
}


@media (max-width: 768px) {
    .card-container {
        gap: 15px;
    }

    .card {
        height: 180px; 
    }

    .card-back {
        font-size: 12px; 
    }
}

@media (max-width: 480px) {
    .card-container {
        flex-direction: column;
        gap: 10px; 
    }

    .card {
        height: 160px; 
    }
    
    .card-back {
        font-size: 10px; 
    }
}