* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    padding: 0;
    margin: 0;
    height: 100%;
    scroll-behavior: smooth;
    padding-top: 75px; /* Igual a la altura de la barra */
}

.container {
        display: flex;
        height: 100%;
        padding-bottom: 0;
      }
      


.main {
    flex: 1;
    width: 100%;
}

h1,
h2, h3 {
    text-align: center;
    padding-top: 10px;
}


.nav-link {
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: yellow !important;
}

ul {
    list-style-type: none; 
    padding-left: 0; 
  }

.plans-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

.plan-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
  }
/* --------------Estilos globales section About us--------- */

.sectionUs li {
    list-style: none;
    font-size: 18px;
}

.sectionUs h3,
ul {
    text-align: center;
}

.imageUs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0; 
    padding: 0 15px; 
    width: 100%;
}

.imageUs img {
    width: 100%;
    max-width: 30rem; 
    height: auto; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

@media (max-width: 768px) {
    .imageUs img {
        max-width: 25rem; 
    }
}

@media (max-width: 480px) {
    .imageUs img {
        max-width: 20rem; 
    }
}

/* --------------FIN Estilos globales section About us--------- */