
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding: 20px;
  width: 100%; 
}

.nav-link {
  transition: color 0.3s ease; 
}

.nav-link:hover {
  color: yellow !important; 
}
