.heroSection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('/images/hero.jpg'); 
  background-size: cover; 
  background-position: center; 
  color: white; 
  text-align: center;
  padding: 0 20px;
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3); 
}

.title {
  font-size: 3rem;
  margin-bottom: 20px;
  z-index: 2; 
}


.description {
  font-size: 1rem;
  margin-bottom: 30px;
  z-index: 2;
}


.ctaButton {
  padding: 10px 20px;
  background-color: yellow; 
  border: none;
  color: black;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 20px;
  z-index: 2;
}

.ctaButton:hover {
  transform: scale(1.1);
  font-weight: bold; 
}

/* Media Queries */
@media (max-width: 768px) {
  .heroSection {
      padding: 0 10px;  
  }

  .title {
      font-size: 2.5rem; 
      margin-bottom: 15px;
  }

  .description {
      font-size: 0.9rem; 
      margin-bottom: 20px;
  }

  .ctaButton {
      padding: 8px 16px;  
      font-size: 1rem;    
  }
}

@media (max-width: 576px) {
  .heroSection {
      min-height: 80vh;  
      padding: 0 5px;    
  }

  .title {
      font-size: 2rem;  
      margin-bottom: 10px;
  }

  .description {
      font-size: 0.8rem;  
      margin-bottom: 15px;
  }

  .ctaButton {
      padding: 6px 12px;  
      font-size: 0.9rem;   
  }
}

