.plan-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  gap: 10px;
  margin: 10px;
}

.plan-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  width: 100%; 
  max-width: 300px; 
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 10px; 
}


.plan-card:hover {
  transform: translateY(-10px); 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.plan-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}


.plan-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 12px;
  line-height: 1.5;
}


.plan-price {
  font-size: 1.4rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 16px;
}


.plan-button {
  background-color: #f3c94b; 
  color: #000;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  width: 100%; 
}


.plan-button:hover {
  background-color: #d5a30d; 
}


@media (max-width: 1024px) {
  .plan-card-container {
    flex-direction: column;
    gap: 20px;
  }
  
  .plan-card {
    max-width: 300px; 
    margin: 0 0 20px 0;
  }

  .plan-title {
    font-size: 1.3rem;
  }

  .plan-description {
    font-size: 0.9rem;
  }

  .plan-price {
    font-size: 1.2rem;
  }

  .plan-button {
    padding: 10px 20px;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .plan-card-container {
    flex-direction: column;
    gap: 15px;
  }
  
  .plan-card {
    max-width:300px; 
    padding: 15px;
  }

  .plan-title {
    font-size: 1.1rem;
  }

  .plan-description {
    font-size: 0.85rem;
  }

  .plan-price {
    font-size: 1.1rem;
  }

  .plan-button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}
