.ProfesSection {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 4% 6%; 
    background-color:  #212529;
  }

  .card-back {
    margin-top: 20px;
  }

  .description {
    color: white;
    font-size: 1.2rem;
    line-height: 1.8em;
    margin-bottom: 30px;
    text-align: justify;
    max-width: 80%; 
  } 

 .card-container {
    text-align: center;
 }

 .card {
    background-color: yellow;
    height: 330px;
    border-radius: 10px;
    margin: 0px 10px;
 }

 .item img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-bottom-left-radius: 0;
 }

